.card-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    flex-basis: 50px;
    
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    max-width: 100%;
}